doctype html
html(ng-app='codefresh-challenge')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    // build:js /js/check.js
    script(type='text/javascript', src='/js/modernizr.js')
    // endbuild

    // build:css /css/app.css
    link(rel='stylesheet', href='/bower_components/reset-css/reset.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(href='/bower_components/ng-dialog/css/ngDialog.css', rel='stylesheet', type='text/css')
    link(href='/bower_components/ng-dialog/css/ngDialog-theme-default.css', rel='stylesheet', type='text/css')
    link(href='/bower_components/angular-toastr/dist/angular-toastr.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/styles/app.css')
    // endbuild

    script(type='text/javascript', src='https://js.pusher.com/3.2/pusher.min.js')

    title #{i18n.title}

  body
    div(ui-view)

    // build:js /js/vendors.js
    script(type="text/javascript" src="/bower_components/ace-builds/src-min-noconflict/ace.js")

    script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/bower_components/angular/angular.js')
    script(type='text/javascript', src='/bower_components/ui-router/release/angular-ui-router.js')
    script(type='text/javascript', src='/bower_components/ng-dialog/js/ngDialog.js')
    script(type='text/javascript', src='/bower_components/angular-toastr/dist/angular-toastr.tpls.js')
    script(type='text/javascript', src='/bower_components/angular-permission/dist/angular-permission.js')
    script(type='text/javascript', src='/bower_components/angular-permission/dist/angular-permission-ui.js')
    script(type='text/javascript', src='/bower_components/angular-validation-match/dist/angular-validation-match.js')
    script(type='text/javascript', src='/bower_components/angular-translate/angular-translate.js')
    script(type='text/javascript', src='/bower_components/angular-translate-loader-url/angular-translate-loader-url.js')
    script(type='text/javascript', src='/bower_components/angular-messages/angular-messages.min.js')
    script(type='text/javascript', src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(type='text/javascript', src='/bower_components/yamljs/bin/yaml.js')

    script(type="text/javascript" src="/bower_components/angular-ui-ace/ui-ace.js")
    script(type="text/javascript" src="/bower_components/angular-ui-validate/dist/validate.js")

    // endbuild

    // build:js /js/app.js
    script(type='text/javascript', src='/js/app.js')
    script(type='text/javascript', src='/js/states.js')
    script(type='text/javascript', src='/js/run.js')
    script(type='text/javascript', src='/js/main-controller.js')
    script(type='text/javascript', src='/js/workflow-editor/workflow-editor-directive.js')
    script(type='text/javascript', src='/js/workflow-editor/step-settings-directive.js')
    script(type='text/javascript', src='/js/workflow-editor/step-settings-controller.js')
    script(type='text/javascript', src='/js/workflow-editor/steps-yaml-filter.js')
    script(type='text/javascript', src='/js/workflow-editor/steps/push-step-controller.js')
    script(type='text/javascript', src='/js/workflow-editor/steps/build-step-controller.js')
    script(type='text/javascript', src='/js/workflow-editor/steps/git-clone-step-controller.js')
    script(type='text/javascript', src='/js/workflow-editor/steps/freestyle-step-controller.js')
    script(type='text/javascript', src='/js/notifications/pusher-service.js')
    // endbuild

    // build:js /js/templates.js
    script(type='text/javascript', src='/js/templates.js')
    // endbuild
