.container
  div.yaml-config
    div#yaml-config.yaml-config__editor(ui-ace='yamlSettings', ng-model = 'yamlConfig', ng-readonly = 'true')
  .row
    .col-xs-6
    .steps-container.col-xs-6(ng-include = "'/partials/left-column.html'")
